* {
  margin:0;
  padding:0;
  border:0;
}

.container {
  border-width: 1px;
  border-color: rgb(235, 235, 235);
  border-style: solid;
  background: white;
  font-family: 'Nunito Sans', sans-serif;
  width: 375px;
  height: 350px;
  display: grid;
  justify-items: stretch;
  grid-template-columns: 25px 145px 35px 145px 25px;
  grid-template-rows: 22px 60px 75px 85px 60px 48px;
}

.calendarContainer {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.guestsContainer {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  align-self: center;
}

.propertyContainer {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;

  border-bottom-color: rgb(235, 235, 235);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: rgb(72, 72, 72);
}

#price {
  font-size: 22px;
  font-weight: 800;
  line-height: 26px;
}

#priceText {
  padding-left: 3px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.review {
  font-size: 12px;
  cursor: pointer;
  outline: none;
}
#totalReviews {
  padding-left: 1px;
  color: rgb(118, 118, 118);
}

.reserveContainer {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  align-self: center;
}

.footer {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}

.calendarSubGrid {
  display: grid;
  grid-template-columns: 145px 35px 145px;
  grid-template-rows: 34px 41px;
  background-color: white;
}

.calendarHeader {
  /* margin-top: 15px; */
  grid-column-start: 1;
  grid-column-end: 4;
  align-self: end;
  font-size: 12px;
}

.calendarInputs {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: 145px 35px 145px;
  background-color: white;
  border-width: 1px;
  border-color: rgb(235, 235, 235);
  border-style: solid;
}

.calendarArrow {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
}

.checkin {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: center;
  align-self: center;
  height:25px;
  width:130px;
  font-size: 17px;
  padding-left: 5px;
  font-weight: 100;
  color:rgb(117, 117, 117);
  outline: none;
  border-radius: 3px;
}

.checkin:focus {
  background-color: rgb(153, 237, 229);
  color: rgb(0, 120, 133);
}

.checkout {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
  align-self: center;
  height: 25px;
  width:130px;
  padding-left: 5px;
  font-size: 17px;
  font-weight: 100;
  color: rgb(117, 117, 117);
  outline: none;
  border-radius: 3px;
}

.checkout:focus {
  background-color: rgb(153, 237, 229);
  color: rgb(0, 120, 133);
}

.guests {
  align-self: stretch;
}

.guestsHeader {
  font-size: 12px;
}

.guestsInputContainer {
  display:flex;
  border-width: 1px;
  border-color: rgb(235, 235, 235);
  border-style: solid;
}

.guestsInput {
  flex: 1;
  display: flex;
  height:40px;
  font-size: 17px;
  color:rgb(72, 72, 72);
  font-weight: 100;
  align-self: center;
  cursor: pointer;
}

#guestButtonText {
  flex:1;
  padding-top: 9px;
  text-align: center;
}

/* USE THIS FOR WHEN BUTTON IS CLICKED */
#guestButtonText:focus {
  background-color: rgb(153, 237, 229);
  color: rgb(0, 120, 133);
}

#downwardPoint {
  flex: 1;
}

.reserve {
  display:flex;
}

.reserveButton {
  flex: 1;
  height: 47px;
  font-size: 16px;
  background-color: rgb(255, 90, 95);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  outline: none;
  margin: 5px;
}


.reserveButton:active {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  background-color: rgb(223, 60, 70);
}

.footer {
  align-self: start;
  justify-self: center;
  font-size: 12px;
  color: rgb(72, 72, 72);
}

.calenderInputs {
  flex: 1;
  height: 35px;
}
